@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f2f2f2;
}
a {
  color: black;
  text-decoration: none;
}
.content {
  max-width: 1800px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 5px solid grey;
}
nav .logo {
  margin-right: auto;
}
nav .category {
  margin-right: 42%;
}
nav a{
  margin-left: 100px;
}

